openapi: 3.0.0
info:
  title: Capillary Auth API
  version: 1.0.0
  description: API to generate authentication tokens for Capillary services
servers:
  - url: https://eu.api.capillarytech.com
paths:
  /auth/v1/token/generate:
    post:
      summary: Generate authentication token
      operationId: generateAuthToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - identifierType
                - identifierValue
                - deviceId
                - brand
              properties:
                identifierType:
                  type: string
                  enum:
                    - MOBILE
                    - EMAIL
                    - USERNAME
                  description: Type of identifier
                identifierValue:
                  type: string
                  description: Identifier value (e.g., mobile number)
                deviceId:
                  type: string
                  description: Unique device ID
                brand:
                  type: string
                  description: Brand name
            example:
              identifierType: MOBILE
              identifierValue: "919400488244"
              deviceId: "YOUR_DEVICE_ID"
              brand: "DOCDEMO"
      responses:
        '200':
          description: Token generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Authentication token
                  expiresIn:
                    type: integer
                    description: Token expiry in seconds
                required:
                  - token
              example:
                token: "eyJhbGciOi..."
                expiresIn: 3600
        '400':
          description: Bad request
        '401':
          description: Unauthorized
